body {
    background-color: #eee
}

.card {
    border: none;
    border-radius: 10px;
}

.smaller h6 {
    font-size: 14px;
}

/* .ftcards img {
    float: left;
    width:  100%;
    height: 100%;
    object-fit: cover;
} */

.ftcards a {
    width: 100%;
}