/* ------------------------------------ Login Page ------------------------------------ */

#login-content{
    background-image: url("../images/bg-login.png");
    background-size: auto;
    background-repeat: no-repeat;
    height: 100vh;
}

.login-column{
    margin: 20% 0 0;
}

.login-column h1{
    font-size: 48px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 3px;
    font-weight: 700;
}

.login-column label{
    color: #000;
    font-weight: 500;
}

.title-login{
    display: block;
}

#login-form{
    margin: 4% 0 0;
}

.btn-submit-login{
    margin: 4% 0 0;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    padding: 9px 12px;
    background-color: #ff7096;
    border-radius: 10px;
    font-size: 18px;
    transition: 00.3s all ease-in-out;
    border: none;
    width: 100%;
}

.btn-submit-login:hover{
    color: #fff;
    background-color: #ff4d6d;
}

#login-form p{
    margin: 6% 0 0;
}

.registers-page a{
    justify-content: end;
    color: #ff7096;
    text-decoration: none;
    list-style: none;
    font-weight: 500;
}

@media only screen and (max-width : 1200px) {
/* ------------------------------------ End Login Page ------------------------------------ */

    /* ----------------- Login Page ----------------- */

    #login-content{
        background-size: cover;
        padding: 0 2%;
    }

    .login-column{
        margin: 25% 0 0;
        padding: 4%;
        background-color: rgba(255, 255, 255, 0.95);
        border-radius: 10px;
    }

    .login-column h1{
        font-size: 40px;
    }

    #login-form{
        margin: 8% 0 0;
    }

    /* ----------------- End Login Page ----------------- */
}

