/* ------- Navbar ------- */

.navbar{
    padding: 20px 0;
}

.navbar-brand {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 24px;
    color: #ff7096;
}

.navbar-nav .nav-item{
    padding: 9px 20px;
    align-items: center;
}

.navbar-nav .nav-item a{
    font-family: 'Poppins', sans-serif;
    color: #000;
    font-weight: 500;
    font-size: 18px;
    transition: 0.3s all ease-in-out;
}

.navbar-nav .nav-item a:hover{
    background-color: #ff7096;
    color: #fff;
    border-radius: 10px;
}

a.btn-login{
    text-decoration: none;
    color: #fff !important;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    padding: 9px 12px;
    background-color: #ff7096;
    border-radius: 10px;
}

a.btn-logout{
    text-decoration: none;
    color: #fff !important;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    padding: 9px 12px;
    background-color: #ff7096;
    border-radius: 10px;
}

/* ------- End Navbar ------- */


@media only screen and (min-width : 320px) and (max-width : 480px) {
    /* ------- Navbar ------- */
    
    .navbar-nav .nav-item{
        padding: 0;
        align-items: center;
    }

    /* ------- End Navbar ------- */
}