@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900 & display: swap');

* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

:root {
    --main-bgcolor: #ff7096;
    --secondary-bgcolor: #ff4d6d;

    --main-color: #000;
    --sec-color: #fff;
}

#regis-content{
    background-image: url("../images/bg-login.png");
    background-size: auto;
    background-repeat: no-repeat;
    height: 100vh;
}

.regis-column{
    margin: 20% 0 0;
}

.regis-column h1{
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 3px;
    font-weight: 700;
    margin-top: 30%;
}

.regis-column label{
    color: var(--main-color);
    font-weight: 500;
}

.title-regis{
    display: block;
}

#regis-form{
    margin: 4% 0 0;
}

.btn-submit-regis{
    margin: 4% 0 0;
    text-decoration: none;
    color: var(--sec-color);
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    padding: 9px 12px;
    background-color: var(--main-bgcolor);
    border-radius: 10px;
    font-size: 18px;
    transition: 00.3s all ease-in-out;
    border: none;
    width: 100%;
}

.btn-submit-regis:hover{
    color: var(--sec-color);
    background-color: var(--secondary-bgcolor);
}

#regis-form p{
    margin: 6% 0 0;
}

.login-page a{
    justify-content: end;
    color: var(--main-bgcolor);
    list-style: none;
    text-decoration: none;
    font-weight: 500;
}

.login-page a:hover {
    color: var(--main-bgcolor);
}

@media only screen and (max-width : 1200px) {
    #regis-content{
        background-size: cover;
        padding: 0 2%;
    }

    .regis-column{
        margin: 25% 0 0;
        padding: 4%;
        background-color: rgba(255, 255, 255, 0.95);
        border-radius: 10px;
    }

    .regis-column h1{
        font-size: 30px;
        margin-top: 0;
    }

    #regis-form{
        margin: 8% 0 0;
    }
}

