@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900 & display: swap');

* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

/* ------------------------------------ Landing Page ------------------------------------ */

/* ------- Content 1 ------- */

.title-content-1{
    margin: 12% 0 0;
}

.title-content-1 h1{
    font-size: 48px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 3px;
    font-weight: 700;
}

.company-name{
    display: block;
    color: #ff7096;
    font-weight: 700;
}

.title-content-1 p{
    margin: 4% 0 0;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
}

.button-explore{
    margin: 4% 0 0;
}

.btn-explore{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    padding: 9px 12px;
    background-color: #ff7096;
    border-radius: 10px;
    font-size: 18px;
    transition: 00.3s all ease-in-out;
}

.btn-explore:hover{
    color: #fff;
    background-color: #ff4d6d;
}

.images-content-1 img{
    margin: 4% 0 0;
    width: 620px;
}

/* ------- End Content 1 ------- */


/* ------- Content 2 ------- */

#jumbotron{
    margin: 8% 0 0;
}

.contact-us{
    background-color: #ff7096;
    padding: 4%;
    border-radius: 20px;
}

.title-contact-us h1{
    color: #fff;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

.icon-contact-us{
    margin: 4% 0 0;
    text-align: center;
}

.icon-contact-us a{
    text-decoration: none;
    list-style: none;
}

.icon-contact-us img{
    width: 50px;
    height: auto;
    margin-left: 2%;
    padding: 1%;
    background-color: #FAFAFA;
    border-radius: 50%;
    transition: 0.2s all ease-in-out;
}

.icon-contact-us img:hover{
    transform: translateY(-6%);
}

/* ------- End Content 2 ------- */


/* ------- Content 3 ------- */

#footer{
    margin: 4% 0 0;
}

#footer .container-fluid{
    background-color: #ff7096;
}

.footer_text{
    padding: 20px 0;
}

.footer_text p{
    margin: auto 0;
    text-align: center;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

/* ------- End Content 3 ------- */

/* ------------------------------------ End Landing Page ------------------------------------ */





/* ------- Responsive Design ------- */

@media only screen and (min-width : 320px) and (max-width : 480px) {

    /* ----------------- Landing Page ----------------- */

    /* ------- Content 1 ------- */

    .title-content-1{
        margin: 8% 0 0;
    }

    .title-content-1 h1{
        font-size: 30px;
        text-align: center;
    }

    .title-content-1 p{
        font-size: 14px;
        text-align: center;
    }

    .button-explore{
        display: flex;
        justify-content: center;
    }

    .images-content-1 img{
        display: block;
        margin: 10% auto 2%;
        width: 360px;
    }

    /* ------- End Content 1 ------- */
    
    
    /* ------- Content 2 ------- */

    #jumbotron{
        padding: 0 4%;
    }

    .title-contact-us h1{
        font-size: 20px;
        font-weight: 600;
    }

    .icon-contact-us img{
        width: 30px;
    }

    /* ------- End Content 2 ------- */


    /* ------- Content 3 ------- */

    #footer{
        margin: 8% 0 0;
    }

    /* ------- End Content 3 ------- */

    /* ----------------- End Landing Page ----------------- */

}

/* ------- End Responsive Design ------- */

