@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900 & display: swap');

* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

/* ------- Navbar ------- */

.navbar{
    padding: 20px 0;
}

.navbar-brand {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 24px;
    color: #ff7096;
}

.navbar-nav .nav-item{
    padding: 9px 20px;
    align-items: center;
}

.navbar-nav .nav-item a{
    font-family: 'Poppins', sans-serif;
    color: #000;
    font-weight: 500;
    font-size: 18px;
    transition: 0.3s all ease-in-out;
}

.navbar-nav .nav-item a:hover{
    background-color: #ff7096;
    color: #fff;
    border-radius: 10px;
}

a.btn-login{
    text-decoration: none;
    color: #fff !important;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    padding: 9px 12px;
    background-color: #ff7096;
    border-radius: 10px;
}

/* ------- End Navbar ------- */


/* ------------------------------------ Landing Page ------------------------------------ */

/* ------- Content 1 ------- */

.title-content-1{
    margin: 12% 0 0;
}

.title-content-1 h1{
    font-size: 48px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 3px;
    font-weight: 700;
}

.company-name{
    display: block;
    color: #ff7096;
    font-weight: 700;
}

.title-content-1 p{
    margin: 4% 0 0;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
}

.button-explore{
    margin: 4% 0 0;
}

.btn-explore{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    padding: 9px 12px;
    background-color: #ff7096;
    border-radius: 10px;
    font-size: 18px;
    transition: 00.3s all ease-in-out;
}

.btn-explore:hover{
    color: #fff;
    background-color: #ff4d6d;
}

.images-content-1 img{
    margin: 4% 0 0;
    width: 620px;
}

/* ------- End Content 1 ------- */


/* ------- Content 2 ------- */

#jumbotron{
    margin: 8% 0 0;
}

.contact-us{
    background-color: #ff7096;
    padding: 4%;
    border-radius: 20px;
}

.title-contact-us h1{
    color: #fff;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

.icon-contact-us{
    margin: 4% 0 0;
    text-align: center;
}

.icon-contact-us a{
    text-decoration: none;
    list-style: none;
}

.icon-contact-us img{
    width: 50px;
    height: auto;
    margin-left: 2%;
    padding: 1%;
    background-color: #FAFAFA;
    border-radius: 50%;
    transition: 0.2s all ease-in-out;
}

.icon-contact-us img:hover{
    transform: translateY(-6%);
}

/* ------- End Content 2 ------- */


/* ------- Content 3 ------- */

#footer{
    margin: 4% 0 0;
}

#footer .container-fluid{
    background-color: #ff7096;
}

.footer_text{
    padding: 20px 0;
}

.footer_text p{
    margin: auto 0;
    text-align: center;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

/* ------- End Content 3 ------- */

/* ------------------------------------ End Landing Page ------------------------------------ */



/* ------------------------------------ Login Page ------------------------------------ */

#login-content{
    background-image: url("../images/bg-login.png");
    background-size: auto;
    background-repeat: no-repeat;
    height: 100vh;
}

.login-column{
    margin: 20% 0 0;
}

.login-column h1{
    font-size: 48px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 3px;
    font-weight: 700;
}

.login-column label{
    color: #000;
    font-weight: 500;
}

.title-login{
    display: block;
}

#login-form{
    margin: 4% 0 0;
}

.btn-submit-login{
    margin: 4% 0 0;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    padding: 9px 12px;
    background-color: #ff7096;
    border-radius: 10px;
    font-size: 18px;
    transition: 00.3s all ease-in-out;
    border: none;
    width: 100%;
}

.btn-submit-login:hover{
    color: #fff;
    background-color: #ff4d6d;
}

#login-form p{
    margin: 6% 0 0;
}

.registers-page a{
    justify-content: end;
    color: #ff7096;
    text-decoration: none;
    list-style: none;
    font-weight: 500;
}

/* ------------------------------------ End Login Page ------------------------------------ */

/* ------- Responsive Design ------- */

@media only screen and (min-width : 320px) and (max-width : 480px) {

    /* ------- Navbar ------- */
    
    .navbar-nav .nav-item{
        padding: 0;
        align-items: center;
    }

    /* ------- End Navbar ------- */


    /* ----------------- Landing Page ----------------- */

    /* ------- Content 1 ------- */

    .title-content-1{
        margin: 8% 0 0;
    }

    .title-content-1 h1{
        font-size: 30px;
        text-align: center;
    }

    .title-content-1 p{
        font-size: 14px;
        text-align: center;
    }

    .button-explore{
        display: flex;
        justify-content: center;
    }

    .images-content-1 img{
        display: block;
        margin: 10% auto 2%;
        width: 360px;
    }

    /* ------- End Content 1 ------- */
    
    
    /* ------- Content 2 ------- */

    #jumbotron{
        padding: 0 4%;
    }

    .title-contact-us h1{
        font-size: 20px;
        font-weight: 600;
    }

    .icon-contact-us img{
        width: 30px;
    }

    /* ------- End Content 2 ------- */


    /* ------- Content 3 ------- */

    #footer{
        margin: 8% 0 0;
    }

    /* ------- End Content 3 ------- */

    /* ----------------- End Landing Page ----------------- */


    /* ----------------- Login Page ----------------- */

    #login-content{
        background-size: cover;
        padding: 0 2%;
    }

    .login-column{
        margin: 25% 0 0;
        padding: 4%;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 10px;
    }

    .login-column h1{
        font-size: 40px;
    }

    #login-form{
        margin: 8% 0 0;
    }

    /* ----------------- End Login Page ----------------- */
}

/* ------- End Responsive Design ------- */

